# Configuración del servidor
PORT=3000

# Configuración de SQL Server
DB_SERVER=localhost
DB_PORT=1433
DB_DATABASE=tu_base_de_datos
DB_USER=tu_usuario
DB_PASSWORD=tu_contraseña
DB_OPTIONS_ENCRYPT=true
DB_OPTIONS_TRUST_SERVER_CERTIFICATE=true

